@import "../../../scss/abstracts/variables.scss";
@import "../../../scss/abstracts/breakpoints.scss";

.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.exitBtn {
  border: none;
  background-color: transparent;
  font-size: 1.4rem;
  color: $color-black;
  cursor: pointer;
}

.crate {
  align-self: center;
  margin-bottom: $spacing-md;
  padding: 1rem 0;
  width: 80%;
  max-width: 12rem;
  text-align: center;
  color: $color-primary-light;
  transition: $transition-ease;

  &:hover {
    color: $color-white;
    background-color: $color-primary-light;
  }
}

.about {
  margin-bottom: $spacing-lg;
  border-radius: 0.5rem;
  border: $border-width solid $color-white;
  background-color: $color-secondary-light;
}

.detail {
  background-image: linear-gradient(
    to bottom,
    $color-secondary-light,
    $color-primary-light
  );
  padding: 0.5rem;
  white-space: nowrap;
  border-bottom: $border-width solid $color-white;

  @include breakpoint(xs) {
    white-space: normal;
    line-break: anywhere;
  }
}

.type {
  display: block;
  margin-bottom: $spacing-sm;
  font-size: 1.1rem;
}

.text {
  display: block;
  margin-bottom: $spacing-sm;
  color: $color-white;
}

.icon {
  width: 30%;
  height: 30%;
}

.buttons {
  display: flex;
  align-items: center;

  @include breakpoint(xs) {
    flex-direction: column;
  }
}

.button {
  &:not(:last-child) {
    margin-right: $spacing-sm;

    @include breakpoint(xs) {
      margin-right: 0rem;
      margin-bottom: $spacing-sm;
    }
  }
}
