@import "../../../scss/abstracts/breakpoints.scss";
@import "../../../scss/abstracts/variables.scss";

.services {
  padding: 8rem 0;
}

.title {
  text-align: center;
  margin-bottom: $spacing-xl;
}

.subtitle {
  margin-bottom: $spacing-lg;
}

.iconWrapper {
  display: flex;
}

.icon {
  margin-bottom: $spacing-xl;
  width: 4rem;
  height: 4rem;
  color: $color-primary;
}

.content {
  display: flex;
  justify-content: space-evenly;

  @include breakpoint(sm) {
    align-items: center;
    flex-direction: column;
  }
}

.service {
  flex: 0 0 30%;
  max-width: 30%;
  display: flex;
  flex-direction: column;
  border: $border-width solid $color-black;
  border-radius: 0.5rem;
  padding: 2rem;

  @include breakpoint(md) {
    flex: 0 0 45%;
    max-width: 45%;
  }

  @include breakpoint(sm) {
    flex: 0 0 100%;
    max-width: 100%;
  }

  @include breakpoint(sm) {
    &:not(:last-child) {
      margin-bottom: $spacing-md;
    }
  }
}

.text {
  max-width: 20rem;
  line-height: 2rem;
  color: $color-primary;
}
