@import "../../../../scss/abstracts/variables.scss";
@import "../../../../scss/abstracts/breakpoints.scss";

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: $spacing-lg;
}

.heading {
  font-size: 1.4rem;
  color: $color-primary;

  @include breakpoint(xs) {
    font-size: 1rem;
  }
}

.closeBtn {
  position: relative;
  border: none;
  background-color: transparent;
  font-size: 1.2rem;
  cursor: pointer;
}

.closeBtn::after {
  display: none;
  content: "Close";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  background-color: rgba($color-black, 0.5);
  padding: 0.2rem;
  color: $color-white;
  font-size: 0.8rem;
}

.closeBtn:hover:after {
  display: block;
}
