@import "../../../scss/abstracts/breakpoints.scss";
@import "../../../scss/abstracts/variables.scss";

.pricing {
  padding: 8rem 0;
  color: $color-white;
}

.title {
  text-align: center;
  margin-bottom: $spacing-xl;
}

.subtitle {
  margin-bottom: $spacing-lg;
  text-align: center;
}

.offer {
  margin-bottom: $spacing-lg;
  text-align: center;
  color: $color-primary;
}

.price {
  font-size: 2.5rem;
}

.iconWrapper {
  display: flex;
}

.icon {
  margin-bottom: $spacing-md;
  width: 3rem;
  height: 3rem;
  color: $color-primary;
}

.content {
  display: flex;
  justify-content: space-evenly;

  @include breakpoint(sm) {
    align-items: center;
    flex-wrap: wrap;
  }
}

.payment {
  flex: 0 0 30%;
  max-width: 30%;
  display: flex;
  flex-direction: column;
  background-color: $color-secondary;
  border: $border-width solid $color-white;
  border-radius: 0.5rem;
  padding: 2rem;

  @include breakpoint(sm) {
    flex: 0 0 60%;
    max-width: 60%;
  }

  @include breakpoint(xs) {
    flex: 0 0 90%;
    max-width: 90%;
  }

  @include breakpoint(sm) {
    &:not(:last-child) {
      margin-bottom: $spacing-md;
    }
  }
}

.item {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: $spacing-lg;
  }
}

.text {
  flex: 0 0 80%;
  max-width: 20rem;
  line-height: 2rem;
  color: $color-primary;
}

.checkIcon {
  flex: 1;
  color: $color-primary;
  height: 1.5rem;
}
