@import "../../../scss/abstracts/variables.scss";

.container {
  position: relative;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: $spacing-md;
  height: 100%;
}

.spinner {
  border: 16px solid $color-secondary;
  border-top: 16px solid $color-primary;
  border-radius: 50%;
  animation: spin 2s linear infinite;
  width: 80px;
  height: 80px;
}

.sm {
  height: 100px;
  width: 100px;
}

.lg {
  height: 200px;
  width: 200px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
