@import "../../scss/abstracts/variables.scss";
@import "../../scss/base/base.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  color: $color-primary;
}

.logo {
  height: 200px;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 100%;
}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 360px;
}

.registerHeader {
  font-size: 45px;
}

.input {
  border: $border-width solid $color-primary;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  color: $color-primary;
  outline: none;

  &:focus {
    border: 2px solid $color-primary;
  }
}

.inputError {
  border: $border-width solid $color-red-dark;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  color: $color-primary;
  outline: none;
}

.formGroup {
  position: relative;
  margin-bottom: $spacing-sm;
}

.passwordIcon {
  right: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

::placeholder {
  color: $color-primary;
  opacity: 0.5;
  font-weight: normal;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input[type="password"] {
  padding-right: 30px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  outline: none;

  &:focus-visible {
    border: 3px solid $color-secondary-dark;
    color: $color-secondary-dark;
  }
}

.btnSignUp {
  background-color: $color-primary;
  border: 2px solid $color-primary;
  color: $color-white;
  font-size: 18px;
  font-weight: bold;
  transition: $transition-ease;
  margin-top: 20px;

  &:hover {
    background-color: $color-white;
    color: $color-primary;
    border: 2px solid $color-primary;
  }
}

.btnGoogle {
  background-color: $color-white;
  border: 2px solid $color-primary;
  color: $color-primary;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: $spacing-sm;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: $transition-ease;

  &:hover {
    background-color: $color-primary;
    color: $color-white;
  }
}

.spanOr {
  margin: $spacing-sm auto;
  text-transform: uppercase;
}

.googleBtnWrapper {
  position: relative;
}

.googleLogo {
  margin-right: $spacing-sm;
  width: 25px;
}

.login {
  font-size: 18px;
}

.logInLink {
  display: inline-block;
  position: relative;
  margin-left: $spacing-sm;
  font-size: 20px;
  font-weight: bold;
  color: $color-primary;
  transition: $transition-ease;

  &:hover {
    color: $color-secondary-dark;
  }

  &::after {
    content: "";
    display: block;
    background-color: $color-primary;
    height: 2px;
    transition: $transition-ease;
  }

  &:hover::after {
    background-color: $color-secondary-dark;
  }

  &:focus-visible {
    border: 3px solid $color-secondary-dark;
    color: $color-secondary-dark;
    outline: none;
  }
}

.error {
  color: $color-red-dark;
  font-weight: bold;
  margin-bottom: $spacing-sm;
}
