@import "../../scss/abstracts/variables.scss";
@import "../../scss/abstracts/breakpoints.scss";

.file {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 10;
  border-radius: 8px;
  padding: 0.5rem;
  flex: 0 0 33.33%;
  max-width: 12rem;
  cursor: pointer;

  @include breakpoint(lg) {
    max-width: none;
  }

  @include breakpoint(sm) {
    flex: 0 0 50%;
  }

  @include breakpoint(xs) {
    flex: 0 0 100%;
  }
}

.container {
  display: block;
  margin-bottom: $spacing-sm;
  border: $border-width solid $color-primary-light;
  flex: 0 1 100%;
  color: $color-primary-light;
  cursor: pointer;
  overflow: hidden;

  &:hover {
    color: $color-primary;
    background-color: $color-secondary-light;
  }

  &.active {
    color: $color-primary;
    background-color: $color-secondary-light;
  }
}

.option {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem 1.5rem;
  text-align: center;
  transition: $transition-ease;
}

.imgWrapper {
  width: 40%;
}

.img {
  width: 100%;
}

.about {
  padding: 0.5rem;
  font-size: 0.9rem;
}

.name {
  margin: auto;
  max-width: 5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
