@import "../../scss/abstracts/variables.scss";
@import "../../scss/abstracts/breakpoints.scss";

.title {
  margin-bottom: $spacing-xl;
}

.crates {
  display: flex;
  flex-wrap: wrap;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  z-index: 1000;
  border: none;
  border-radius: 50%;
  background-color: $color-primary;
  width: 5rem;
  height: 5rem;
  cursor: pointer;

  &:hover .options {
    width: 12rem;
  }
}

.folderIcon {
  width: 80%;
  height: 80%;
  color: $color-white;
}
