@import "../../../scss//abstracts/variables.scss";
@import "../../../scss/abstracts/breakpoints.scss";

.addNewWidget {
  padding: 0 $spacing-md $spacing-md 0;
  align-self: stretch;
  flex-basis: 25%;
  max-width: 25%;
  min-height: 10rem;

  @include breakpoint(lg) {
    flex-basis: 33.33%;
    max-width: 33.33%;
  }

  @include breakpoint(md) {
    flex-basis: 50%;
    max-width: 50%;
  }

  @include breakpoint(sm) {
    flex-basis: 100%;
    max-width: 100%;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  background-color: $color-grey;
  padding: $spacing-md;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
  box-shadow: $box-shadow;
}

.icon {
  margin-bottom: $spacing-md;
  width: 4rem;
  height: 4rem;
  color: $color-primary;

  @include breakpoint(md) {
    width: 3rem;
    height: 3rem;
  }
}

.description {
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  color: $color-primary;

  @include breakpoint(md) {
    font-size: 1rem;
  }
}
