@import "../../scss/abstracts/variables.scss";
@import "../../scss/abstracts/breakpoints.scss";

.progressBar {
  display: flex;
  flex-direction: column;
}

.description {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  font-size: 3rem;
  margin-right: $spacing-sm;

  @include breakpoint(md) {
    font-size: 2.5rem;
  }
}

.text {
  font-size: 1.2rem;
}

.bar {
  display: block;
  margin: auto;
  margin-bottom: $spacing-md;
  height: 0.4rem;
  width: 80%;
  background-color: $color-primary;
}

.bar {
  &::-webkit-progress-bar {
    background-color: $color-white;
    border: $border-width solid $color-black;
  }

  &::-webkit-progress-value {
    background-color: $color-primary;
  }
}

.info {
  font-weight: bold;
  font-size: 1rem;
  text-align: center;

  @include breakpoint(md) {
    font-size: 0.8rem;
  }
}
