@import "../../../../../../scss/abstracts/variables.scss";
@import "../../../../../../scss/abstracts/breakpoints.scss";

.heading {
  text-align: left;
  padding: 0.5rem;
  font-size: 0.8rem;
  color: $color-primary;
  cursor: pointer;
  transition: $transition-ease;

  &:hover {
    background-color: $color-secondary;
  }
}

.text {
  display: flex;
  align-items: center;
}

.icon {
  margin-left: $spacing-sm;
}
