@import "../../scss/abstracts/variables.scss";
@import "../../scss/abstracts/breakpoints.scss";

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: $spacing-md $spacing-md;
  width: 100%;

  @include breakpoint(xs) {
    flex-direction: column;
  }
}

.reactivationMessage {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  max-width: 60%;
  display: flex;
  align-items: center;
  color: $color-green-dark;
  z-index: 800;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 1rem;
  background-color: $color-green-light;
  border-radius: 0.6rem;
  animation: fadeOut 8s normal forwards;
  @include breakpoint(sm) {
    min-width: 90%;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    opacity: 0;
  }
}

.icon {
  margin-left: $spacing-sm;
  min-height: 1.5rem;
  min-width: 1.5rem;
  @include breakpoint(xs) {
    display: none;
  }
}

.img {
  display: block;
  width: 100%;
}

.btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.link {
  display: inline-block;
}

.imgWrapper {
  width: 6rem;
}

.items {
  display: flex;
  align-items: center;
}

.item {
  position: relative;

  &:not(:last-child) {
    margin-right: 1.5rem;
  }
}

.notification {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  bottom: 70%;
  background-color: $color-red;
  border-radius: 50%;
  min-width: 1.2rem;
  min-height: 1.2rem;
  font-size: 0.7rem;
  color: $color-white;
}

.bellIcon {
  font-size: 1.6rem;
  color: $color-primary;
  cursor: pointer;
}

.imgWrapperUser {
  width: 3.2rem;
}

.account {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 100;
}
