@import "../../scss/abstracts/variables.scss";
@import "../../scss/abstracts/breakpoints.scss";

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.chartContainer {
  margin-top: $spacing-xl;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
