@import "../../scss/abstracts/breakpoints.scss";

.mainContainer {
  height: 100%;
  display: flex;
}

.content {
  position: relative;
  flex: 1;
  height: 100%;
  overflow-x: auto;

  @include breakpoint(xs) {
    margin-left: 5rem;
  }
}

.container {
  display: flex;
  position: relative;
  height: 100%;
  padding-top: 7rem;

  @include breakpoint(xs) {
    padding-top: 8.5rem;
  }
}

.main {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0 6rem;
  overflow-x: auto;

  @include breakpoint(xs) {
    margin: 0 1rem;
  }
}
