@import "../../scss/abstracts/variables.scss";

.container {
  position: absolute;
  width: 100%;
  min-height: 100%;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  z-index: 800;
  border: none;
  border-radius: 50%;
  background-color: $color-primary;
  width: 5rem;
  height: 5rem;
  cursor: pointer;

  &:hover .options {
    width: 12rem;
  }
}

.icon {
  width: 80%;
  height: 80%;
  color: $color-white;
}

.options {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: $color-secondary;
  width: 0;
  overflow: hidden;
  transition: $transition-ease;
}

.optionBtn {
  width: 100%;
  border: none;
  background-color: $color-primary;
  padding: 1rem 0.5rem;
  font-size: 1.1rem;
  white-space: nowrap;
  color: $color-white;
  cursor: pointer;
  transition: $transition-ease;

  &:hover {
    background-color: $color-primary-light;
  }
}
