@import "../../../scss/abstracts/breakpoints.scss";
@import "../../../scss/abstracts/variables.scss";

.pieChartWrapper {
  min-height: 18rem;
  flex: 1;
  max-width: 40%;
  box-shadow: $box-shadow;

  @include breakpoint(sm) {
    min-width: 90%;
    margin-top: $spacing-xl;
  }
}

.legendWrapper {
  display: flex;
  align-items: center;
}

.title {
  padding: $spacing-xl 0 $spacing-md $spacing-lg;
}

.textContainer {
  padding: 0 $spacing-lg;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.text {
  margin-top: $spacing-sm;
  font-size: 0.8rem;
  font-weight: bold;
  color: $color-primary-dark;
}

.input {
  margin-top: $spacing-sm;
  margin-right: $spacing-sm;
  border: none;
  height: 1.2rem;
  width: 1.2rem;

  &::-webkit-color-swatch {
    border-radius: 50%;
    padding: 0;
  }

  &::-webkit-color-swatch-wrapper {
    border-radius: 50%;
    padding: 0;
  }
}
