@import "../../scss/abstracts/variables.scss";
@import "../../scss/abstracts/breakpoints.scss";

.title {
  margin-bottom: $spacing-xl;
}

.options {
  display: flex;
  align-items: center;

  @include breakpoint(sm) {
    flex-direction: column;
  }
}

.option {
  border: $border-width solid $color-primary;
  padding: 3rem;
  text-align: center;

  @include breakpoint(sm) {
    padding: 2.5rem;
  }

  @include breakpoint(xs) {
    padding: 1.5rem;
  }
}

.link {
  flex: 0 0 30%;
  max-width: 300px;
  display: inline-block;
  color: $color-primary;
  transition: $transition-ease;

  @include breakpoint(sm) {
    width: 80%;
  }

  &:not(:last-child) {
    margin-right: $spacing-lg;

    @include breakpoint(sm) {
      margin-right: 0;
      margin-bottom: $spacing-lg;
    }
  }

  &:hover {
    color: $color-white;
    background-color: $color-primary;
  }
}

.icon {
  display: block;
  margin: auto;
  width: 70%;
  height: 70%;
}
