@import "../../scss/abstracts/variables.scss";
@import "../../scss/abstracts/breakpoints.scss";

.accountContainer {
  margin-left: $spacing-sm;
  margin-top: $spacing-lg;
}

.manageHeading {
  margin-bottom: $spacing-md;
}

.manageAccImg {
  width: 10.5rem;
  height: 10.5rem;
  margin-right: 1rem;

  @include breakpoint(sm) {
    width: 4.5rem;
    height: 4.5rem;
    margin-right: 0.5rem;
  }
}

.accountInfo {
  display: flex;
  align-items: center;
}

.accountOptions {
  display: flex;
  flex-direction: column;
}

.accountInfoList {
  li {
    color: $color-primary;
    padding: 0.2rem;

    @include breakpoint(sm) {
      padding: 0.1rem;
      font-size: 0.8rem;
    }
  }
}

.firstNameAndLastNameInfo {
  font-size: 1.6rem;
  font-weight: bold;
}

.manageLinks {
  display: flex;
  margin-top: $spacing-sm;
  margin-left: $spacing-md;

  @include breakpoint(sm) {
    margin-bottom: $spacing-sm;
  }
}

.deleteLink,
.manageLink {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $spacing-sm;
  font-size: 1rem;
  border-radius: 0.6rem;
  margin: $spacing-md 0;
  text-align: center;
  width: 9rem;

  @include breakpoint(sm) {
    width: 8rem;
    font-size: 0.9rem;
  }
}

.manageLinkIcon {
  width: 1.4rem;
  height: 1rem;
  margin-left: $spacing-sm;
}

.deactivateLinkIcon {
  width: 1.3rem;
  height: 1.26rem;
  margin-left: $spacing-sm;
}

.deleteLink {
  background-color: $color-red-dark;
  color: $color-white;
  margin-right: $spacing-md;
  border: $border-width solid $color-red-dark;
  transition: $transition-ease;

  &:hover {
    background-color: $color-red;
    border: $border-width solid $color-red;
  }
}

.manageLink {
  background-color: $color-primary;
  margin-left: $spacing-sm;
  border: $border-width solid $color-primary;
  color: $color-white;
  transition: $transition-ease;

  &:hover {
    background: $color-primary-light;
    border: $border-width solid $color-primary-light;
  }
}

.accountName,
.accountEmail {
  margin: $spacing-sm;
}
