@import "../../scss/abstracts/variables.scss";
@import "../../scss/abstracts/breakpoints.scss";

.fileUpload {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.fullMode {
  position: absolute;
}

input[type="file"] {
  display: none;
}

.label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: $border-width solid $color-primary-light;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  text-align: center;
  color: $color-primary;
  background-color: $color-grey-light;
}

.uploadImg {
  display: block;
  width: 70px;
  height: 60px;
  color: $color-primary;
}

.about {
  line-height: 30px;
}

.dropOver {
  border: 2px dashed $color-primary;
  border-radius: 8px;
}

@include breakpoint(md) {
  .uploaderWrapper {
    width: 270px;
    height: 130px;
  }

  .uploadImg {
    width: 60px;
    height: 50px;
  }
}

@include breakpoint(xs) {
  .uploaderWrapper {
    margin-left: 3rem;
  }
}

.upload {
  margin-bottom: $spacing-md;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: $spacing-md;

  @include breakpoint(xs) {
    flex-direction: column;
  }
}

.button {
  &:not(:last-child) {
    margin-right: $spacing-sm;

    @include breakpoint(xs) {
      margin-right: 0rem;
      margin-bottom: $spacing-sm;
    }
  }
}

.error {
  color: $color-red;
}
