@import "../../../scss/abstracts/breakpoints.scss";
@import "../../../scss/abstracts/variables.scss";

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoWrapper {
  width: 100%;
  max-width: 200px;
  min-width: 100px;
}

.logo {
  width: 100%;
  display: block;
}

.navList {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  z-index: 1100;

  @include breakpoint(sm) {
    flex-direction: column;
    position: fixed;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
  }
}

.navItem {
  padding: 0 1.8rem;
  color: $color-white;
  font-weight: bold;
  font-size: 19px;

  @include breakpoint(sm) {
    font-size: 2rem;

    &:not(:last-child) {
      margin-bottom: $spacing-md;
    }
  }
}

.navLinks {
  color: $color-white;
  padding-bottom: 8px;
}

.selected {
  border-bottom: $border-width solid $color-white;
}

.icon {
  display: block;
  background-color: $color-black;
  height: 5px;

  &::after,
  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    background-color: $color-black;
    height: 5px;
    width: 100%;
  }

  &::after {
    top: 0;
  }

  &::before {
    bottom: 0;
  }

  &.close {
    background-color: transparent;
  }

  &.close::after {
    transform: rotate(-45deg);
  }

  &.close::before {
    top: 0;
    transform: rotate(45deg);
  }
}

.btn {
  display: none;
  position: relative;
  z-index: 1100;
  height: 2.5rem;
  width: 3rem;
  border: none;
  background-color: transparent;
  margin-right: $spacing-lg;
  font: inherit;
  cursor: pointer;
  transition: $transition-ease;

  @include breakpoint(sm) {
    display: block;
  }

  &:hover {
    height: 2.8rem;
  }

  &.mobile {
    position: fixed;
    right: 3rem;
    top: 3rem;
  }
}
