@import "../../../scss/abstracts/variables.scss";

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2500;
  background-color: rgba($color-primary, 0.5);
}
