@import "../../scss/abstracts/variables.scss";
@import "../../scss/abstracts/breakpoints";

.runtime {
  background-color: $color-secondary;
  padding: 0.8rem;

  @include breakpoint(sm) {
    padding: 0.5rem;
  }
}

.filesContainer {
  display: flex;
  align-items: center;
  margin-bottom: $spacing-lg;

  @include breakpoint(md) {
    justify-content: space-evenly;
  }

  @include breakpoint(sm) {
    flex-direction: column;
  }
}

.fileItem {
  margin-right: $spacing-lg;

  @include breakpoint(sm) {
    margin-right: 0;
  }
}

.files {
  display: flex;
  align-items: center;

  @include breakpoint(md) {
    flex-direction: column;
  }
}

.file {
  margin-right: $spacing-md;

  @include breakpoint(md) {
    margin-bottom: $spacing-md;
    margin-right: 0;
  }
}

.text {
  display: inline-block;
  text-align: center;
  color: $color-primary;

  @include breakpoint(sm) {
    margin: $spacing-md 0;
  }
}

.editor {
  background-color: $color-white;
}

.configure {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem;

  @include breakpoint(sm) {
    flex-direction: column;
  }
}

.configuration {
  display: flex;
  align-items: center;

  @include breakpoint(sm) {
    flex-direction: column;
  }
}

.toggleBtn {
  @include breakpoint(sm) {
    margin: $spacing-sm 0;
  }
}

.title {
  text-transform: capitalize;
  text-align: center;

  @include breakpoint(md) {
    font-size: $spacing-md;
  }

  @include breakpoint(sm) {
    margin-bottom: $spacing-sm;
  }
}

.selectContainer {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    right: 0.4rem;
    width: 0;
    height: 0;
    border-left: 0.3rem solid transparent;
    border-right: 0.3rem solid transparent;
    border-top: 0.5rem solid $color-primary;
  }
}

.select {
  position: relative;
  appearance: none;
  width: 100%;
  padding: 0.6rem;
  padding-right: 1.5rem;
  font-size: 0.9rem;
  color: $color-primary;
  text-transform: capitalize;
  cursor: pointer;

  @include breakpoint(sm) {
    padding: 0.5rem;
    padding-right: 1.1rem;
    font-size: 0.7rem;
  }

  &:focus {
    outline: none;
  }
}

.option {
  text-transform: capitalize;
}

.consoleContainer {
  display: flex;
  margin-top: $spacing-lg;

  @include breakpoint(sm) {
    flex-direction: column-reverse;
  }
}

.options {
  display: flex;
  flex-direction: column;
  border: $border-width solid $color-black;
  background-color: $color-white;
  margin-right: $spacing-sm;
  padding: 0.6rem;

  @include breakpoint(sm) {
    margin-right: 0;
  }
}

.optionBtn {
  margin-bottom: $spacing-md;
}

.console {
  flex: 1;
  border: $border-width solid $color-black;
  background-color: $color-white;
  min-height: 12.5rem;
}

.code {
  display: block;
  padding: 1.2rem;
  height: 100%;
}

.error {
  margin: 0 $spacing-sm;
  font-size: 1.2rem;
  color: $color-red;

  @include breakpoint(md) {
    font-size: 0.9rem;
  }
}
