@import "../../../../scss/abstracts/variables.scss";
@import "../../../../scss/abstracts/breakpoints.scss";

.formGroup {
  margin-bottom: $spacing-lg;
}

.input {
  padding: 0.2rem 0.4rem;
  width: 100%;
  height: 1.5rem;
  margin: auto;
  display: block;
  transition: $transition-ease;

  &:focus {
    outline: none;
    box-shadow: 0px 5px 10px 0px $color-primary-dark;
  }
}

.error {
  font-weight: bold;
  color: $color-red-dark;
}
