$color-primary: #1d527c;
$color-primary-light: #9accf5;
$color-primary-dark: #0cafff;
$color-secondary: #e0eeef;
$color-secondary-light: #e4f7f7;
$color-secondary-dark: #bef3f7;

$color-grey: #f1f3f4;
$color-grey-light: #fafcff;
$color-grey-dark: #c3bcbc;
$color-blue-light: #ebf2fd;
$color-green-dark: #006400;
$color-green: #eafbef;
$color-green-light: #84eba1;
$color-black: #000000;
$color-white: #ffffff;
$color-red: #cc0000;
$color-red-dark: #8b0000;
$color-red-light: #fdeaeb;
$color-orange: #ffa500;

$transition-ease: all 0.3s ease;

$border-width: 1px;

$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 1.3rem;
$spacing-xl: 2rem;
$spacing-xxl: 3rem;

$box-shadow: 0px 2px 1px -1px rgba($color-black, 0.2),
  0px 1px 1px 0px rgba($color-black, 0.14),
  0px 1px 3px 0px rgba($color-black, 0.12);
