@import "../../../scss/abstracts/variables.scss";
@import "../../../scss/abstracts/breakpoints.scss";

.homeProgressBarContainer {
  flex: 1;
  min-height: 18rem;
  max-width: 60%;
  margin-right: $spacing-xl;
  box-shadow: $box-shadow;
  border-radius: 10px;

  @include breakpoint(sm) {
    min-width: 90%;
  }
}

.title {
  padding: $spacing-xl 0 0 $spacing-lg;
}

.bar {
  display: block;
  margin: $spacing-lg 0 0 $spacing-lg;
  border-radius: 5px;
  height: 2.5rem;
  width: 80%;
  position: relative;
}

.bar:after {
  content: attr(value) "%";
  position: absolute;
  font-size: 1.1rem;
  top: 0.57rem;
  left: 50%;
  font-weight: bold;
  color: $color-primary;
}

.runtimeBar {
  &::-webkit-progress-bar {
    border-radius: 5px;
    background-color: $color-white;
    border: $border-width solid rgba($color-primary-light, 0.3);
  }

  &::-webkit-progress-value {
    border-radius: 5px;
    background-color: $color-primary-light;
  }
}

.crateBar {
  &::-webkit-progress-bar {
    border-radius: 5px;
    background-color: $color-white;
    border: $border-width solid rgba($color-green-light, 0.3);
  }

  &::-webkit-progress-value {
    border-radius: 5px;
    background-color: $color-green-light;
  }
}
