@import "../../scss/abstracts/variables.scss";
@import "../../scss/abstracts/breakpoints.scss";

.accountNav {
  background-color: $color-white;
  border: $border-width solid $color-black;
  border-radius: 1.5rem;
  padding: 1.4rem;

  @include breakpoint(md) {
    padding: 1rem;
  }
}

.name {
  display: block;
  margin-bottom: $spacing-md;
  text-align: center;
  white-space: nowrap;

  @include breakpoint(sm) {
    font-size: 1.2rem;
  }
}

.email {
  display: block;
  margin-bottom: $spacing-lg;
  text-align: center;

  @include breakpoint(md) {
    margin-bottom: $spacing-md;
    padding: 0.8rem;
  }

  @include breakpoint(sm) {
    padding: 0.4rem;
    font-size: 0.8rem;
  }
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  display: block;
  background-color: $color-white;
  border: $border-width solid $color-primary;
  border-radius: 1rem;
  padding: 0.6rem 1.5rem;
  font-size: 1rem;
  color: $color-primary;
  cursor: pointer;
  transition: $transition-ease;

  @include breakpoint(md) {
    padding: 0.6rem 1.2rem;
  }

  @include breakpoint(sm) {
    padding: 0.4rem 1rem;
    font-size: 0.8rem;
  }

  &:not(:last-child) {
    margin-bottom: $spacing-xl;

    @include breakpoint(md) {
      margin-bottom: $spacing-lg;
    }
  }

  &:hover {
    color: $color-white;
    background-color: $color-primary;
  }
}
