@import "../../../scss/abstracts/breakpoints.scss";
@import "../../../scss//abstracts/variables.scss";

.deleteAccountForm {
  max-width: 30rem;
  padding: $spacing-md;
  margin-top: $spacing-md;
  margin-left: $spacing-md;
  border-radius: 0.5rem;
  background-color: $color-red-light;
  border: $border-width solid $color-red-dark;

  @include breakpoint(sm) {
    margin: auto;
    width: 100%;
  }
}

.formGroup {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: $spacing-md;
}

.checkbox {
  width: 1rem;
  height: 1rem;
  margin-left: $spacing-md;
  margin-right: $spacing-md;
}

.label {
  color: $color-primary;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  background-color: $color-red-light;
  color: $color-red;
}

.formButtons {
  width: 100%;
  display: flex;
  justify-content: right;
  margin-top: $spacing-xxl;
  margin-bottom: $spacing-md;

  @include breakpoint(sm) {
    justify-content: space-around;
    padding: 0 $spacing-sm;
  }
}

.deleteWarningContainer {
  display: flex;
  justify-content: center;
  margin: $spacing-lg $spacing-md;
  padding: $spacing-sm;
  background-color: $color-orange;
  border-radius: 0.2rem;
  opacity: 0;
  animation: popUp 0.5s forwards;
}

@keyframes popUp {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}

.hideDeleteWarningContainer {
  display: none;
}

.deleteWarningImg {
  width: 2.2rem;
  height: 2.2rem;
  margin-right: $spacing-md;
  margin-left: $spacing-sm;
  color: $color-white;
}

.deleteWarning {
  color: $color-white;
  font-size: 1.2rem;
  font-weight: bold;
}

.dataWarning {
  margin: $spacing-sm 0;
  font-size: 0.9rem;
  line-height: 1.3rem;

  text-align: justify;
  padding: 0 $spacing-md;
}

.cancelBtn,
.deleteBtn {
  width: 32%;
  padding: $spacing-sm;
  font-size: 1rem;
  border-radius: 0.3rem;
  border: none;
  cursor: pointer;
  font-weight: bold;

  @include breakpoint(sm) {
    width: 40%;
    padding: $spacing-md $spacing-sm;
    border-radius: 0.5rem;
  }
}

.cancelBtn {
  border: $border-width solid $color-red-dark;
  color: $color-red-dark;
  background-color: $color-white;
  text-align: center;

  &:hover {
    background-color: $color-grey;
    color: $color-red;
    border: $border-width solid $color-red;
    transition: $transition-ease;
  }
}

.deleteBtn {
  background-color: $color-red-dark;
  color: $color-white;
  margin: 0 $spacing-md;

  &:hover {
    background-color: $color-red;
    transition: $transition-ease;
    border: $border-width solid $color-red;
  }

  @include breakpoint(sm) {
    margin: 0;
  }
}
