@import "../../../scss/abstracts/breakpoints.scss";
@import "../../../scss//abstracts/variables.scss";

.form {
  max-width: 30rem;
  border: 1px solid $color-primary;
  padding: $spacing-md;
  margin-top: $spacing-md;
  margin-left: $spacing-md;
  margin-bottom: $spacing-xl;
  border-radius: 0.5rem;
  background-color: $color-secondary-light;

  @include breakpoint(sm) {
    width: 100%;
  }
}

.formGroup {
  display: flex;
  align-items: center;
  position: relative;

  @include breakpoint(sm) {
    flex-direction: column;
  }
}

.label {
  width: 30%;
  color: $color-primary;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  background-color: $color-secondary-light;
  padding-left: $spacing-sm;

  @include breakpoint(sm) {
    width: 100%;
    font-size: 1.1rem;
    word-spacing: 0.1rem;
    margin-left: $spacing-lg;
  }
}

.labelDisabled {
  color: $color-grey-dark;
  font-weight: 100;
  font-size: 0.95rem;
}

.manageUserInput {
  width: 70%;
  padding: $spacing-sm;
  margin: 0.7rem 1rem 0.7rem 0;
  font-size: 1rem;
  color: $color-primary;
  background-color: $color-grey-light;
  border: $border-width solid $color-primary;
  border-radius: 0.2rem;

  @include breakpoint(sm) {
    width: 86%;
    margin-right: 0;
  }
}

.inputDisabled {
  background-color: $color-secondary;
  border: 1px solid $color-grey-dark;
}

.inputError {
  width: 70%;
  padding: $spacing-sm;
  margin: 0.7rem 1rem 0.7rem 0;
  font-size: 1rem;
  color: $color-primary-dark;
  background-color: $color-grey-light;
  border: $border-width solid $color-red;
  border-radius: 0.2rem;
}

.updateUserErrorMsg {
  color: $color-red-dark;
  font-weight: bold;
  margin-left: 30%;

  @include breakpoint(sm) {
    width: 86%;
    margin: 0 auto $spacing-sm;
    text-align: center;
    font-size: 0.9rem;
  }
}

.formButtons {
  width: 100%;
  display: flex;
  justify-content: right;
  margin-top: $spacing-md;
  margin-bottom: $spacing-md;

  @include breakpoint(sm) {
    justify-content: space-around;
    padding: 0 $spacing-sm;
  }
}

.cancelBtn,
.updateBtn {
  width: 32%;
  padding: $spacing-sm;
  font-size: 1rem;
  border-radius: 0.3rem;
  border: none;
  cursor: pointer;
  font-weight: bold;

  @include breakpoint(sm) {
    width: 40%;
    border-radius: 0.5rem;
  }
}

.cancelBtn {
  border: $border-width solid $color-primary;
  color: $color-primary;
  background-color: $color-white;
  text-align: center;

  &:hover {
    background-color: $color-primary-light;
    border: $border-width solid $color-primary-light;
    color: $color-white;
    transition: $transition-ease;
  }
}

.updateBtn {
  background-color: $color-primary;
  color: $color-white;
  margin-left: $spacing-md;
  margin-right: $spacing-md;

  &:hover {
    background: $color-primary-light;
    color: $color-primary;
    transition: $transition-ease;
  }

  @include breakpoint(sm) {
    margin: 0;
  }
}

.passwordWrapper {
  display: flex;
  justify-content: flex-end;
  margin-right: $spacing-md;
  align-items: center;
  position: relative;
}

.changePassword {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  font-size: 1.1rem;
  font-weight: bold;
  color: $color-primary;
  cursor: pointer;
}

.passwordEye {
  width: 1.2rem;
  height: 1.2rem;
  color: $color-primary;
  margin-left: $spacing-sm;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: $spacing-xl;
  cursor: pointer;

  @include breakpoint(sm) {
    top: 63%;
    right: $spacing-xxl;
  }

  @include breakpoint(xs) {
    right: $spacing-xl;
  }
}

.passwordEyeFadeout {
  color: $color-secondary;
}

.passwordPadlock {
  margin-left: $spacing-sm;
}

.passwordInputsHide {
  display: none;
}

.passwordInputsShow {
  display: block;
}
