@import "../../../scss/abstracts/variables.scss";
@import "../../../scss/abstracts/breakpoints.scss";

.primary {
  border: $border-width solid $color-black;
  background-color: $color-primary;
  padding: 0.8rem 1.1rem;
  font-size: 0.9rem;
  color: $color-white;
  cursor: pointer;
  transition: $transition-ease;

  &:hover {
    background-color: $color-white;
    color: $color-primary;
  }
}

.primary--invert {
  @extend .primary;

  background-color: $color-white;
  color: $color-primary;

  &:hover {
    background-color: $color-primary;
    color: $color-white;
  }
}

.secondary {
  border: $border-width solid $color-black;
  background-color: $color-secondary;
  padding: 0.8rem 1.1rem;
  font-size: 0.9rem;
  color: $color-primary;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background-color: $color-primary;
    color: $color-secondary;
  }
}

.secondary--invert {
  @extend .secondary;

  background-color: $color-primary;
  color: $color-secondary;

  &:hover {
    background-color: $color-secondary;
    color: $color-primary;
  }
}

.alert {
  border: $border-width solid $color-black;
  background-color: $color-red-dark;
  padding: 0.8rem 1.1rem;
  font-size: 0.9rem;
  color: $color-white;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background-color: $color-red;
  }
}

.success {
  border: $border-width solid $color-black;
  background-color: $color-green-dark;
  padding: 0.8rem 1.1rem;
  font-size: 0.9rem;
  color: $color-white;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    opacity: 0.8;
  }
}

.alert--invert {
  @extend .alert;

  background-color: $color-red;

  &:hover {
    background-color: $color-red-dark;
  }
}

.large {
  padding: 1.2rem 2.2rem;
  font-size: 1.5rem;

  @include breakpoint(sm) {
    padding: 1rem 1.7rem;
    font-size: 1.1rem;
  }
}

.medium {
  padding: 0.8rem 2rem;
  font-size: 1.2rem;

  @include breakpoint(sm) {
    padding: 0.8rem 1.5rem;
    font-size: 0.8rem;
  }
}

.small {
  padding: 0.4rem 1.6rem;
  font-size: 0.9rem;

  @include breakpoint(sm) {
    padding: 0.8rem 1.5rem;
    font-size: 0.8rem;
  }
}
