@import "../../../scss/abstracts/variables.scss";
@import "../../../scss/abstracts/breakpoints.scss";

.hero {
  width: 80%;
  margin: auto;
}

.text {
  max-width: 35rem;
  text-align: justify;
  font-size: 1.2rem;
  line-height: 2rem;

  @include breakpoint(md) {
    font-size: 1rem;
  }

  @include breakpoint(sm) {
    font-size: 0.8rem;
  }

  span {
    font-size: 2.5rem;
  }

  color: $color-white;
  font-weight: bold;
}

.links {
  width: 100%;
  margin: $spacing-lg auto;
  display: flex;
  align-items: center;
}

.quote {
  margin-right: $spacing-md;
  color: $color-white;
  font-weight: bold;
}

.link {
  padding: 1rem 2rem;
  margin-right: $spacing-md;

  border-radius: 5px;
  border-style: none;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: $transition-ease;

  @include breakpoint(xs) {
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
  }
}

.linkSignUp {
  color: $color-white;
  background-color: $color-primary;

  &:hover {
    color: $color-primary-light;
  }
}

.linkLogin {
  color: $color-primary;
  background: $color-white;

  &:hover {
    color: $color-primary-light;
  }
}
