@import "../../scss/base/base.scss";
@import "../../scss/base/typography.scss";

.landing {
  height: 100%;
  background-color: $color-primary-dark;
}

.container {
  margin: auto;
  padding: 0 20px;
  max-width: 1440px;
}

.content {
  display: flex;
  height: 100%;
}

.imageWrapper {
  flex: 0 0 30%;
  max-width: 30%;

  @include breakpoint(md) {
    display: none;
  }
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
}

.cloud {
  width: 100%;
  height: 100%;
}

.services {
  background-color: $color-white;
}

.pricing {
  background-color: $color-primary-dark;
}
