@import "../../scss/abstracts/variables.scss";
@import "../../scss/abstracts/breakpoints.scss";

.sidebar {
  z-index: 100;
  flex: 0 0 35%;
  max-width: 17rem;
  transition: $transition-ease;

  @include breakpoint(md) {
    flex: 0 0 25%;
  }

  @include breakpoint(xs) {
    position: absolute;
    left: 0;
    z-index: 800;
    background-color: $color-white;
    flex: 0 0 90%;
    max-width: 90%;
    height: 100%;
  }
}

.sidebarMain {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.imgWrapper {
  margin: auto;
  width: 100%;
  max-width: 6rem;
}

.img {
  display: block;
  width: 100%;
}

.linkLogo {
  display: block;
  margin: $spacing-sm 0 $spacing-md 0;
}

.sidebarHide {
  max-width: 5rem;
  width: 5rem;

  .linkLogo {
    margin: $spacing-sm 0 $spacing-xl 0;
  }

  .progressBar {
    display: none;
  }

  .linkIcon {
    margin-right: 0;
    height: 1.6rem;
    width: 100%;
  }

  .link {
    padding: 0.5rem;
  }

  .linkText {
    display: none;
  }

  .toggleText {
    display: none;
  }
}

.link {
  position: relative;
  display: flex;
  align-items: center;
  padding: 1rem;
  transition: all 0.3s ease-out;

  &:hover {
    transform: translateY(-4px);
  }

  @include breakpoint(md) {
    font-size: 1.1rem;
  }

  @include breakpoint(sm) {
    font-size: 1rem;
  }
}

.linkIcon {
  margin-right: $spacing-sm;
  width: 1.5rem;
  height: 1.5rem;
  color: $color-primary;
}

.linkText {
  font-size: 1.2rem;
  color: $color-primary;
}

.toggleBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: $spacing-lg;
  border: none;
  background-color: $color-primary-light;
  padding: 0.5rem;
  width: 80%;
  color: $color-white;
  cursor: pointer;
  transition: $transition-ease;

  &:hover {
    background-color: $color-secondary-light;
    color: $color-primary;
  }
}

.toggleText {
  display: inline-block;
  margin-left: $spacing-sm;
}

.toggleIcon {
  display: block;
  font-size: 1.2rem;
}
