@import "../../../scss/abstracts/variables.scss";

.customSelect {
  position: relative;
}

.selected {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $color-white;
  padding: 0.1rem;
  cursor: pointer;
}

.icon {
  margin-left: $spacing-sm;
}

.items {
  position: absolute;
  top: 100%;
  background-color: $color-white;
  padding: 0.1rem;
  width: 100%;
  text-align: left;
}

.item {
  cursor: pointer;
}
