@import "../../scss/abstracts/variables.scss";
@import "../../scss/abstracts/breakpoints.scss";

.main {
  display: flex;

  @include breakpoint(lg) {
    flex-direction: column-reverse;
  }
}

.grid {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  border-right: $border-width solid $color-secondary-light;

  @include breakpoint(lg) {
    width: 100%;
  }

  @include breakpoint(sm) {
    width: 100%;
  }
}
