@import "../../scss/abstracts/variables.scss";
@import "../../scss/abstracts/breakpoints.scss";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include breakpoint(md) {
    flex-direction: column;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;

  @include breakpoint(sm) {
    justify-content: center;
  }
}

.runtimeIcon {
  background-color: $color-primary-light;
}

.runtimeDesc {
  background-color: $color-blue-light;
}

.crateIcon {
  background-color: $color-green-light;
}

.crateDesc {
  background-color: $color-green;
}

.crashIcon {
  background-color: $color-red-dark;
}

.crashDesc {
  background-color: $color-red-light;
}

.runtimeHighlight {
  color: $color-primary;
}

.crateHighlight {
  color: $color-green-light;
}

.crashHighlight {
  color: $color-red-dark;
}
