@import "../../../scss/abstracts/variables.scss";

.btn {
  position: relative;
  border: $border-width solid $color-black;
  border-radius: 1.1rem;
  background-color: $color-white;
  width: 3rem;
  height: 2rem;
  margin-right: $spacing-md;
  padding: 0.1rem 0;
  cursor: pointer;
  text-align: left;
}

.switch {
  display: inline-block;
  position: relative;
  left: 0%;
  z-index: 10;
  background-color: $color-white;
  border: $border-width solid $color-black;
  border-radius: 50%;
  height: 1.6rem;
  width: 50%;
  transition: $transition-ease;
}

.switchOn {
  left: 50%;
  background-color: $color-black;
  border: $border-width solid $color-white;
}

.icons {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.icon {
  height: 60%;
  width: 50%;
}
