@import "../../../../../scss/abstracts/variables.scss";

.reportDetails {
  background-color: $color-secondary-light;
  padding: 0.5rem;
  color: $color-primary;
}

.item {
  &:not(:last-child) {
    margin-bottom: $spacing-sm;
  }

  @for $i from 1 through 5 {
    &:nth-child(#{$i}) {
      animation: menuItem (300ms * $i) ease-in-out forwards;
    }
  }
}

@keyframes menuItem {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}

.showAccordion {
  animation: toggleAccordion 0.5s ease-out forwards;
}

.hideAccordion {
  animation: toggleAccordion 0.5s ease-out reverse;
}

@keyframes toggleAccordion {
  0% {
    opacity: 0;
    height: 0;
    transform-origin: top;
  }
  100% {
    height: 9rem;
    opacity: 1;
  }
}
