@import "../../../../../scss/abstracts/variables.scss";

.row {
  position: relative;
  cursor: pointer;
  transition: $transition-ease;

  &:hover {
    background-color: $color-secondary;
  }
}

.data {
  padding: 1rem 0.5rem;
  font-size: 0.8rem;
  text-align: left;
  color: $color-primary;
}
