@import "../../../../../scss/abstracts/variables.scss";
@import "../../../../../scss/abstracts/breakpoints.scss";

.accordion {
  position: relative;
  margin-bottom: $spacing-lg;

  &:hover {
    background-color: $color-secondary;
    transition: $transition-ease;
  }
}

.collapsed {
  .selectContainer {
    justify-content: center;
    padding: 0.5rem;
    transition: $transition-ease;
  }

  .title {
    display: none;
  }

  .items {
    white-space: nowrap;
    position: fixed;
    left: 5rem;
    transform: translateY(-42px);
  }

  .iconSelect {
    margin-right: 0;
    height: 1.6rem;
    width: 100%;
  }

  .icon {
    display: none;
  }
}

.selectContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  cursor: pointer;
}

.select {
  display: flex;
  align-items: center;
}

.title {
  width: 100%;
  font-size: 1.2rem;
  transition: $transition-ease;

  @include breakpoint(md) {
    font-size: 1.1rem;
  }

  @include breakpoint(sm) {
    font-size: 1rem;
  }
}

.items {
  background-color: $color-grey;
}

.iconSelect {
  margin-right: $spacing-sm;
  width: 1.5rem;
  height: 1.5rem;
  color: $color-primary;
  transition: $transition-ease;
}

.icon {
  font-size: 1.5rem;

  @include breakpoint(md) {
    font-size: 1.3rem;
  }

  @include breakpoint(sm) {
    font-size: 1rem;
  }
}

.link {
  display: flex;
  align-items: center;
  padding: 1rem;
  font-size: 1rem;
  color: $color-primary;
  transition: $transition-ease;

  @include breakpoint(sm) {
    font-size: 0.9rem;
  }

  &:hover {
    transform: translateY(-4px);
  }
}
