@import "../../../scss/abstracts/breakpoints.scss";
@import "../../../scss/abstracts/variables.scss";

.footer {
  color: $color-primary;
}

.top {
  padding: 2rem 0;
}

.items {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;

  @include breakpoint(xs) {
    align-items: center;
    flex-direction: column;
  }
}

.item {
  font-size: 1rem;

  &:not(:last-child) {
    margin-right: $spacing-sm;

    @include breakpoint(xs) {
      margin-right: 0;
      margin-bottom: $spacing-md;
    }
  }
}

.name {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: $spacing-md;

  @include breakpoint(xs) {
  }
}

.icon {
  margin-left: $spacing-sm;
}

.address {
  display: flex;
  align-items: center;
}

.bottom {
  padding: 0.5rem 0;
  text-align: right;

  @include breakpoint(xs) {
    text-align: center;
  }
}
