@import "../../../scss/abstracts/variables.scss";
@import "../../../scss/abstracts/breakpoints.scss";

.addFileForm {
  position: relative;
  background-color: $color-white;
}

.upload {
  margin-bottom: $spacing-md;
}
