@import "../../../scss/abstracts/variables.scss";
@import "../../../scss/abstracts/breakpoints.scss";

.flyIn {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2000;
  min-height: 100%;
  background-color: $color-secondary-light;
  border-left: $border-width solid $color-black;
  width: 0%;
  max-width: 25rem;
  overflow-x: auto;
}

.showFlyIn {
  animation: toggleFlyIn 0.4s ease-out 0.2s forwards;
}

.hideFlyIn {
  animation: toggleFlyIn 0.4s ease-out reverse;
}

@keyframes toggleFlyIn {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}

.show {
  width: 60%;
}
