@import "../../../scss/abstracts/variables.scss";
@import "../../../scss/abstracts/breakpoints.scss";

.title {
  margin-bottom: $spacing-lg;
}

.runtime {
  border-radius: 10px;
  margin-top: $spacing-md;
  padding: 1rem;
  box-shadow: $box-shadow;
}

.tableWrapper {
  overflow: auto;
  max-height: 25rem;
}

.table {
  border-collapse: collapse;
  width: 100%;
  white-space: nowrap;
}

.row {
  border: $border-width solid $color-black;
  cursor: pointer;
  transition: $transition-ease;

  &:hover {
    background-color: $color-secondary;
  }
}
