@import "../../scss/main.scss";
@import "../../scss/abstracts/variables.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  color: $color-primary;
}

.logo {
  height: 200px;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 100%;
}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 360px;
}

.googleLogo {
  margin-right: $spacing-md;
  height: 30px;
  width: 30px;
}

.input {
  border: $border-width solid $color-primary;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: $spacing-sm;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  color: $color-primary;
  outline: none;
}

.inputError {
  border: $border-width solid $color-red-dark;
  border-radius: 5px;
  margin-bottom: $spacing-md;
  padding-left: $spacing-sm;
  min-height: 40px;
  color: $color-primary;
  font-size: 18px;
  font-weight: bold;
  outline: none;
}

::placeholder {
  color: $color-primary;
  opacity: 0.5;
  font-weight: normal;
}

.spanPassword {
  margin: $spacing-sm 0 $spacing-xl 0;
  font-size: 18px;
  cursor: pointer;
}

.spanOr {
  margin: $spacing-sm auto;
  text-transform: uppercase;
}

.signUp {
  font-size: 18px;
}

.signUpLink {
  display: inline-block;
  position: relative;
  padding-left: $spacing-sm;
  font-size: 20px;
  font-weight: bold;
  color: $color-primary;
  transition: $transition-ease;

  &:hover {
    color: $color-secondary-dark;
  }

  &::after {
    content: "";
    display: block;
    background-color: $color-primary;
    height: 2px;
    transition: $transition-ease;
  }

  &:hover::after {
    background-color: $color-secondary-dark;
  }
}

.btn {
  border: none;
  border-radius: 5px;
  min-height: 40px;
  cursor: pointer;
  outline: none;
}

.btnLogin {
  background-color: $color-primary;
  border: $border-width solid $color-primary;
  color: $color-white;
  font-size: 18px;
  font-weight: bold;
  transition: $transition-ease;

  &:hover {
    background-color: $color-white;
    color: $color-primary;
    border: $border-width solid $color-primary;
  }
}

.btnGoogle {
  display: flex;
  align-items: center;
  justify-content: center;
  border: $border-width solid $color-primary;
  background-color: $color-white;
  font-size: 18px;
  font-weight: bold;
  color: $color-primary;
  margin-bottom: $spacing-md;
  transition: $transition-ease;

  &:hover {
    background-color: $color-primary;
    color: $color-white;
  }
}

.error {
  margin-bottom: $spacing-lg;
  max-width: 362px;
  font-weight: bold;
  color: $color-red-dark;
}
