@import "../../../scss/abstracts/variables.scss";
@import "../../../scss/abstracts/breakpoints.scss";

.sidebar {
  flex: 1;
  padding: 0 1rem;

  @include breakpoint(xs) {
    margin-bottom: $spacing-md;
    width: 100%;
  }
}

.form {
  display: flex;
  position: relative;
  max-width: 65rem;
  margin: auto;
  text-align: center;
}

.formGroup {
  display: flex;
  align-items: center;
  position: relative;
  flex: 1;
}

.input {
  border: none;
  background-color: $color-grey;
  padding: $spacing-sm 1.5rem $spacing-sm 3rem;
  width: 100%;
  color: $color-primary;
  font-size: 1.1rem;

  @include breakpoint(xs) {
    font-size: 1rem;
  }

  &:focus {
    outline: none;
    border: $border-width solid $color-black;
  }
}

.exit {
  position: absolute;
  right: 0.5rem;
  cursor: pointer;

  &:hover {
    background-color: $color-grey-light;
    text-decoration: underline;
  }
}

.btn {
  position: absolute;
  left: 0;
  border: none;
  background-color: transparent;
  padding: 0 0.8rem;
  width: 3rem;
  height: 100%;
  cursor: pointer;
  transition: $transition-ease;

  &:hover {
    background-color: $color-secondary-light;
  }
}

.icon {
  height: 100%;
  width: 100%;
  color: $color-primary;
}
