@import "../../../scss//abstracts/breakpoints.scss";
@import "../../../scss//abstracts/variables.scss";

.widget {
  padding: 0 $spacing-md $spacing-md 0;
  align-self: stretch;
  flex-basis: 25%;
  max-width: 25%;
  min-height: 10rem;

  @include breakpoint(lg) {
    flex-basis: 33.33%;
    max-width: 33.33%;
  }

  @include breakpoint(md) {
    flex-basis: 50%;
    max-width: 50%;
  }

  @include breakpoint(sm) {
    flex-basis: 100%;
    max-width: 100%;
  }
}

.container {
  display: flex;
  border-radius: 0.5rem;
  height: 100%;
  overflow: hidden;
  box-shadow: $box-shadow;
}

.runtime-icon {
  background-color: $color-primary-light;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: $spacing-sm $spacing-sm;
  max-width: 28%;
  flex-basis: 28%;

  @include breakpoint(lg) {
    max-width: 35%;
    flex-basis: 35%;
  }
}

.img {
  width: 100%;
  height: 2.5rem;
  color: $color-white;

  @include breakpoint(xs) {
    height: 2rem;
  }
}

.name {
  font-size: 1.1rem;
  text-align: center;
  color: $color-white;
  font-weight: bold;

  @include breakpoint(xs) {
    font-size: 0.9rem;
  }
}

.description {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0.5rem;
  flex: 1;
}

.type {
  display: inline-block;
  margin-bottom: $spacing-sm;
  font-size: 1rem;
}

.totalCalc,
.usedCalc {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;

  @include breakpoint(xs) {
    font-size: 0.9rem;
  }
}

.totalDesc,
.usedDesc {
  position: relative;

  &:not(:last-child) {
    margin-right: $spacing-md;
  }

  @include breakpoint(xs) {
    font-size: 0.9rem;
  }
}

.separator {
  position: absolute;
  top: 0;
  right: -0.5rem;
  background-color: $color-black;
  width: $border-width;
  height: 100%;
}
