.modal {
  position: fixed;
  left: 50%;
  top: 35%;
  z-index: 3000;
  transform: translate(-50%);
  width: 70%;
  max-width: 35rem;
}

.showModal {
  animation: openModal 0.5s ease-out forwards;
}

.hideModal {
  animation: openModal 0.5s ease-out reverse;
}

@keyframes openModal {
  0% {
    opacity: 0;
    top: 0;
  }
  100% {
    opacity: 1;
    top: 35%;
  }
}
