@import "../../../../scss/abstracts/variables.scss";
@import "../../../../scss/abstracts/breakpoints.scss";

.buttons {
  display: flex;
  justify-content: flex-end;

  @include breakpoint(xs) {
    flex-direction: column;
  }
}

.button {
  &:not(:last-child) {
    margin-right: $spacing-sm;

    @include breakpoint(xs) {
      margin-right: 0rem;
      margin-bottom: $spacing-sm;
    }
  }
}
