@import "../../scss/abstracts/variables.scss";
@import "../../scss/abstracts/breakpoints.scss";

.fileInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: $spacing-xl;
  flex: 1;

  @include breakpoint(lg) {
    flex-direction: row;
    align-items: center;
    width: 100%;
    display: none;
  }
}

.list {
  z-index: 10;
  padding: 0.5rem;

  @include breakpoint(lg) {
    display: flex;
    border-radius: 5px;
    background-color: $color-secondary-light;
  }

  @include breakpoint(md) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.item {
  margin: $spacing-sm 0;
  font-size: 12px;

  &:not(:last-child) {
    margin-right: $spacing-sm;
  }

  @include breakpoint(lg) {
    font-size: 15px;
    text-align: center;
  }

  @include breakpoint(md) {
    font-size: 13px;
  }
}

.itemName {
  color: $color-primary;
  font-weight: bold;
  font-size: 13px;

  @include breakpoint(lg) {
    font-size: 15px;
  }
}

.folder {
  position: relative;
  z-index: 10;
  margin-right: $spacing-md;
  padding: 0.8rem 1.5rem;
  background: $color-secondary;
  border-radius: 0 6px 6px 6px;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.59);
}

.folder::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  border-radius: 0 20px 0 0;
  background: $color-secondary;
  width: 50%;
  height: 10px;
}

.folderName {
  text-align: center;
  padding: $spacing-sm 0;
  color: $color-primary;
  font-weight: bold;
  display: none;

  @include breakpoint(lg) {
    display: block;
  }
}
