@import "../abstracts/variables.scss";
@import "../abstracts/breakpoints.scss";

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

span {
  font-size: 0.9rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-primary;
}

.heading-1 {
  font-size: 3rem;

  &--white {
    color: $color-white;
  }
}

.heading-2 {
  font-size: 30px;

  &--white {
    color: $color-white;
  }
}

.heading-3 {
  font-size: 20px;

  &--white {
    color: $color-white;
  }
}

.heading-5 {
  font-size: 0.7rem;
}
