@import "../../../scss/abstracts/variables.scss";
@import "../../../scss/abstracts/breakpoints.scss";

.crate {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 10;
  border-radius: 0.5rem;
  padding: 0.5rem;
  flex: 0 0 33.33%;
  max-width: 12rem;
  cursor: pointer;

  @include breakpoint(lg) {
    max-width: none;
  }

  @include breakpoint(sm) {
    flex: 0 0 50%;
  }

  @include breakpoint(xs) {
    flex: 0 0 100%;
  }
}

.container {
  display: block;
  margin-bottom: $spacing-sm;
  border: $border-width solid $color-primary-light;
  flex: 0 1 100%;
  color: $color-primary-light;
  cursor: pointer;
  overflow: hidden;

  &:hover {
    color: $color-white;
    background-color: $color-primary-light;
  }

  &.active {
    color: $color-white;
    background-color: $color-primary-light;
  }
}

.option {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem 1.5rem;
  text-align: center;
  transition: $transition-ease;
}

.about {
  padding: 0.5rem;
  font-size: 0.9rem;
}

.operations {
  display: flex;
  align-items: center;
}

.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: $spacing-sm;
  }
}

.icon {
  width: 40%;
  height: 40%;
}

.name {
  margin: auto;
  max-width: 5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
